body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  .jumbotron {
    background-color: rgb(194, 213, 220);
    color: black;
    border-radius: 0;
    border-bottom: 5px solid darkblue;
  }
  
  .row {
    white-space: pre-wrap;
    height: 60px;
    border-top: 1px solid white;
  }
  
  #tableHead {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  #tableBody {
    font-size: 16px;
  }
  
  .timeCol {
    border-right: 1px solid gray;
  }
  
  .saveCol {
    border-left: 1px solid gray;
    text-align: center;
  }

  .saveBtn {
    width: 75%;
    max-height: 90%;
  }
  .eventCol {
    outline: none;
  }
  
  #currentDay {
    font-size: 22px;
  }
